<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="{{ "/images/stonewall.png" | prepend: site.baseurl }}" alt="">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
      <li class="nav-link"><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
      <li class="nav-link"><a href="{{ "/calendar" | prepend: site.baseurl }}">Calendar</a></li>
	  <li class="nav-link"><a href="{{ "/documents" | prepend: site.baseurl }}">Documents</a></li>
      <li class="nav-link logo">
        <a href="{{ "/" | prepend: site.baseurl }}" class="logo">
          <img src="{{ "/images/stonewall.png" | prepend: site.baseurl }}" alt="">
        </a>
      </li>
	  <li class="nav-link"><a href="{{ "/association" | prepend: site.baseurl }}">Association</a></li>
	  <li class="nav-link"><a href="{{ "/safety" | prepend: site.baseurl }}">Safety</a></li>
      <li class="nav-link more"><a href="javascript:void(0)">Nearby</a>
        <ul class="submenu">
          <li><a href="{{ "/parks" | prepend: site.baseurl }}">Parks</a></li>
          <li><a href="{{ "/schools" | prepend: site.baseurl }}">Schools</a></li>
        </ul>
      </li>
	  <li class="nav-link"><a href="{{ "/links" | prepend: site.baseurl }}">Links</a></li>
    </ul>
  </div>
</header>
